<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".specialshipActivity"></activity>
        <activity android:name=".statisticsPageActivity" />
        <activity android:name=".ImageViewActivity"></activity>
        <activity android:name=".statisticsMenuActivity" />
        <activity android:name=".RegulationsPageActivity" />
        <activity android:name=".RegulationsFeaturesActivity" />
        <activity android:name=".RegulationsMenuActivity" />
        <activity android:name=".BulletinActivity" />
        <activity android:name=".WebQuizViewActivity" />
        <activity android:name=".ResultActivity" />
        <activity
            android:name=".QuestionActivity"
            android:label="@string/quiz" />
        <activity android:name=".LearningfeatureActivity" />
        <activity android:name=".LearningstageActivity" />
        <activity android:name=".ServicejobActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".CommonshipActivity" />
        <activity
            android:name=".ResetActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>